/*사이트 이름*/
.site-name {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.ags-wrap header {
  position:fixed ;
  width: 100%;
  z-index: 10;
  top: 0;
  height: 150px;
  background: #fff;
}
.ags-wrap .ags-header {
  height: 50px;
}

/*상단 AI 제목*/
.ags-wrap .ags-header .page-name {
  font-weight: 800;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:15px;
  width: 100%;
}
/*상단 왼쪽 메뉴 값 고정*/
.ags-wrap .ags-header .gnb-wrap {
  position: absolute;
  left: 20px;
  top:20px
}

/*상단 AI 이미지*/
.ags-wrap .ags-header .page-name img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.ags-wrap .ags-header .gnb-wrap ul {
  display: flex;
  justify-content: flex-start;
}

.ags-wrap .ags-header .gnb-wrap .btn_back {
  background: url(../img/common/ico_header-back@3x.png) no-repeat center / 16px 16px;
}

.ags-wrap .ags-header .gnb-wrap .btn_gnb {
  background: url(../img/common//ico_header-gnb@3x.png) no-repeat center / 16px 16px;
  margin-left: 20px;
}

.ags-wrap .ags-header .gnb-wrap .btn_back,.btn_gnb {
  width: 16px;
  height: 16px;
  display: block;
  text-indent: -9999px;
}


/*오는편 */
.ags-wrap .ags-header .btn_come {  
  position: absolute;
  top: 14px;
  right: 20px; 
  border: 1px solid #ff6600;
  padding: 5px 19px 8px 12px;
  border-radius: 20px;
  color: #ff6600;
  background: url(../img/common/ico_nav-next.png) no-repeat right 9px top 7px / 7px 12px;
  font-size: 14px;
  font-weight: 800;
}
/*가는편 
.ags-wrap .ags-header .btn_go {
  border: 1px solid #ff6600;
  padding: 5px 19px 8px 12px;
  border-radius: 20px;
  color: #ff6600;
  background: url(../img/common/ico_nav-next.png) no-repeat right 9px top 7px / 7px 12px;
  font-size: 14px;
  font-weight: 800;
}
*/


/* GNB 메뉴 팝업 */
.ags-header .gnb-wrap .gnb-2dp-wrap {
  transition: all 0.5s;
  transition-delay: 0.2s;
  opacity: 100;
  visibility: hidden;
  overflow: auto;
  position: fixed;
  left: calc(-375 / 375 * 100%);  
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  z-index: 1;
}

.ags-header .gnb-wrap .gnb-2dp-wrap.active {
  opacity: 1;
  visibility: visible;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .btn_close {
  z-index: 1;
  background: url(../img/common/ico_pop-close.png) no-repeat center / 14px 14px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  background-position: 50% 50%;
  background-color: transparent;
  text-indent: -9999px;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .fnb {
  position: absolute;
}

.ags-header .gnb-wrap .gnb-2dp-wrap .fnb a {
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
  letter-spacing: -0.03em;
  display: block;
}

/*왼쪽 사이드바*/
.test{
  font-size: 100px;
  color:#ffffff
}

/*상단 스마일 박스*/
.smile_boximg ul {
  display: flex;
  justify-content: center;  
  align-items: center;
  padding: 15px 0;
}
.smile_boximg span{
  font-size: 18px;
  font-weight: 800;
  color: #ff6600;
  padding: 0 15px;
}

.smile_boximg ul::before {
  content:'';
  border: 2px solid #111;
  display: inline-block;
  width: 2px; height: 25px; border-right: none;
  margin-right: 2px;
}
.smile_boximg ul::after {
  content:'';
  border: 2px solid #111;
  display: inline-block;
  width: 2px; height: 25px; border-left: none;
  margin-left: 2px;
}
.smile_boximg ul li{  
  background: url(../img/common/seat_smile.png) no-repeat center / 25px 25px;
  margin-right: 2px;
  width: 25px;
  height: 25px;
  margin: 0 3px;
}

/*상단 셀렉트 박스*/
.select_box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 0;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0px 1px 3px 0px #bbb;
  -moz-box-shadow: 0px 1px 3px 0px #bbb;
  box-shadow: 0px 1px 3px 0px #bbb;
  z-index: 10px;
   
}
.select_group{
  font-family: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 14px;
  letter-spacing: -0.7px;
}
.select_group a{
  background: url(../img/common/ico_select-arrow.png) no-repeat 15px 10px;
  background-size: 15px 10px;
  background-position: right;
  padding: 0 20px 0 10px;
}

.passenger{  
  overflow: auto;
  position: fixed;
  width: 100%;
  height: 0;
  margin-top: 13.4px;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  z-index: 9px;
}

.passenger span{
  margin-right: 50px;
}

.passenger span::after{
  margin-right: none;
}

/*가는여정과 비행시간*/

.select_txt span{
  font-size: 13px;
  font-weight: 600;
  margin: 0 1px;
  display:inline-block
}

.select_txt span:first-child{
  background: url(../img/common/ico_airplane.png) no-repeat center right / 15px 15px;
  padding: 5px 20px 0px 0px;
}
.contents{
  padding-top: 150px;
}
.seat_sheet{
  position: relative;
  transition: all 1s ease;
  top: -500px;
}
/*가격대별 선호도 1위 그룹석을 찾았어요!*/
.find_txt{
  position: fixed;
  width: 100%;
  top: 150px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 15px 0px;
  text-align: center;
  font-size: 12px;
  z-index: 8;
}

/*좌석전체 코딩 첫부분*/

.exit_img{
  text-align: center;
  top: 0;
  font-size: 14px;
  font-weight: 800;
  color: #555;
  padding-right: 14px;
}

.contents .seat_sheet{  
  margin: 0 auto;
  width: 294px;
  padding: 10px 0;
}
.seat_code{
  display: inline-block;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.seat_code span{
  border-bottom: 3px solid #000;
  width: 42px;
  text-align: center;
  padding: 5px 0px;
}

.seat_code span:nth-child(3){ 
  border-bottom: 0; 
}
.seat_code span:nth-child(5){ 
  border-bottom: 0; 
}

.seat_code .hallway{
  width: 45px;
  border-bottom: 0;
}

.seat_sheet .hallway{
  width: 45px;
  border-bottom: 0;
  font-size: 13px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0;
  color: #111;
}

/*좌석 첫페이지 구역 나누기*/
.seat_sheet_bg {
  position: relative;
}

.seat_sheet_price {
  position: absolute;
  top: 100px;
}

.seat_sheet_price_box {
  display: flex;
  justify-content: space-between;
  width: 200px;
  border-bottom: 1px solid #333;
  height: 200px;
}

/*로딩*/
.seat_sheet_loading{
  position: absolute;
  top: 100px;
  left:300px;
}



/*좌석 이미지 클릭 코드*/
.seat_num{
  padding-top: 5px;
}

.seat_sheet li{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.seat_sheet li a{  
  width: 36px;
  height: 35px;
  text-align: center;
  clip-path: polygon(12% 0, 88% 0, 100% 14%, 100% 100%, 0 100%, 0 14%);
  background-color: #08a7e1;  
  border-bottom: 5px solid #008cc1;
  font-size: 10.5px;
  color: #fff;
  line-height: 38px;
  letter-spacing: -0.6px;

  transition: 0.3s all;
  transition-delay: 0.2s;
}

.seat_sheet li a.seat_active{ 
  background-color: #ff6600;  
  border-bottom: 5px solid #ff0000;
  transition: 0.3s all;
  transition-delay: 0.2s;
}




/*좌석 가격 일괄바꿈 - 그외 다른건 class삭제 후 직접 입력*/
.seat_type1_txt::after{
  display: block;
  content: "20,000";
}
.seat_type2_txt::after{
  display: block;
  content: "10,000";
}
.seat_type3_txt::after{
  display: block;
  content: "8,000";
}
.seat_type4_txt::after{
  display: block;
  content: "5,000";
}
.seat_type5_txt::after{
  display: block;
  content: "1,000";
}

/*좌석 disabled-------------------------------------------------*/
.disabled_seat{  
  width: 36px;
  height: 36px;
  text-align: center;
  margin: 0px 5px;
  clip-path: polygon(12% 0, 88% 0, 100% 14%, 100% 100%, 0 100%, 0 14%);  
  background: url(../img/common/ico_seat-disabled.png) no-repeat center /15px 15px;
  background-color: #dedede !important; 
  border-bottom: 5px solid #bababa !important;
}
.seat_type1_txt.disabled_seat::after ,.seat_type2_txt.disabled_seat::after,
.seat_type3_txt.disabled_seat::after ,.seat_type4_txt.disabled_seat::after,
.seat_type5_txt.disabled_seat::after {
  content: "";
}
/*--------------------------------------------------------------*/

/*항공기 이미지 작게 */
.scale_s{
  transform: scale(0.3);
}

/*항공기 이미지 크게 */
.scale{
  transform: scale(1);
}


.page-wrapper .btn {
  position: absolute;
    padding-top: 100px;
    width: 80px;
    top: 100px;
    left: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    border-radius: 0;
    background: #e2525c;
    z-index: 11;
    
  }
  .page-wrapper.btn::after{
    display: block;
  }
  


/*exit*/

.exit_left, .exit_left_c,
.exit_right {
  margin: 0;
}

.exit_left {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  letter-spacing: -0.03em;
}

.exit_left_c {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  letter-spacing: -0.03em;
}

.exit_right {
  font-family: Geogrotesque, NanumSquare, "Apple SD Gothic NEO", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #aaa;
  letter-spacing: -0.03em;
  float: right;
}

.exit_left .ico_a,
.exit_left_c .ico_a,
.exit_right .ico_b {
  display: inline-block;
  width: 12px;
  height: 6px;
  text-indent: -999em;
  border-style: solid;
  border-width: 3px 6px;
  vertical-align: middle;
}

.ico_a {
  margin: 0 0.28571rem 0 -6px;
  border-color: transparent #aaa transparent transparent;
}

.ico_b {
  margin: 0 -6px 0 0.28571rem;
  border-color: transparent transparent transparent #aaa;
}


