/*사이트 이름*/

html,
body {
	overflow-x: hidden;
	max-width: 100%;
}

.digits:before {
	content: "￦";
}

.site_name {
    position: absolute;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.ags-warp{
	padding: 0 20px;
	width: 1232px;
	margin: 0 auto;
}

.ags_header{
	position: relative;
	width: 1232px;
	height: 80px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.ags_header .content_wrap{
	margin: 0 auto;
	
}
.symbol_wrap{
	display: inline-block;
}
.symbol_wrap img{	
	height: 79px;
}
.symbol_by{
	margin: 0 10px;
}
.tophader_txt{
	position: absolute;
	top: 40%;
	left: 50%;
	font-size: 18px;
}

.ags_container{
	position: relative;
	background-color: rgb(241, 241, 24);
	margin: 0 auto;
	width: 1232px;
	height: 1000px;
}

.ags_container .seat_num{
	float: left;
	background-color: rgb(51, 30, 100);
	width: 70%;
	height: inherit;
}

.ags_container .anc_summary{
	float: left;
	background-color: rgb(36, 158, 101);
	width: 30%;
	height: inherit;
}

.foot_ags{
	background-color: #000;
	height: 150px;
	width: 1232px;
}